<h2>My Posts</h2>
<%= link_to "Add", new_post_path, class: "new" %>

<ul>
<% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post_path(post.id) %>
    <%= link_to "[edit]", edit_post_path(post.id), class: "edit" %>
    <%=
      link_to "[delete]",
      post_path(post.id),
      method: :delete,
      class: "delete",
      data: { confirm: "Delete?" }
    %>
  </li>
<% end %>
</ul>
