// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new {
  font-size: 12px;
}

.edit {
  margin-left: 1rem;
  font-size: 12px;
}

.form {
  width: 100%;

  &_title,
  &_body {
    box-sizing: border-box;
    padding: 7px;
    width: 100%;
  }

  &_submit {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 2rem;
  }
}

.error {
  font-size: 12px;
  font-weight: bold;
  color: red;
}
